html {
  font-family: 'roboto', sans-serif;
  background-color: rgb(17, 24, 39);
  color: white;
}

header {
  text-align: center;
}

#ranks-section {
  text-align: center;
}

#tft-rank-icon {
  width: 130px;
  height: 100px;
}

#valorant-rank-icon{
  width:100px;
  height: 100px;
}

#rl-rank-icon{
  width:100px;
}

#rank-cards {
  font-weight: bold;
  font-family: 'roboto', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.rank-card {
  width: 155px;
  height: 205px;
  color:rgb(17, 24, 39);
  border: 2px solid rgb(114, 169, 252);
  background-color: rgb(164, 199, 252);
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#tft-peak{
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: row;
  font-size: 10px;
}

#tft-peak-rank-icon {
  width: 25px;
}

#val-peak{
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: row;
  font-size: 10px;
}

#val-peak-rank-icon {
  width: 25px;
}

#rl-peak{
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: row;
  font-size: 10px;
  margin-left: 5px;
}

#rl-peak-rank-icon {
  width: 25px;
}

#tech-stack {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  gap:10px;
}

.tech-stack-box {
  display:flex;
  flex-direction: row;
  gap: 20px;
}

.tech-stack-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.tech-stack-icon img {
  width: 125px;
  height: 125px;
}